################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/GigHub.v12.suo
/GigHub/bin
/GigHub/obj
/.vs
/GigHub/App_Data/aspnet-GigHub-20160723095837_log.ldf
/GigHub/App_Data/aspnet-GigHub-20160723095837.mdf
/GigHub/GigHub.csproj.user
/GigHub.Tests/bin/Debug
/GigHub.Tests/obj/Debug
/GigHub.IntegrationTests/obj/Debug
/GigHub.IntegrationTests/bin/Debug
