################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/GigHub.v12.suo
/GigHub/bin
/GigHub/obj
